*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/*----------conrolls----------*/
//Go to the top
.go-up{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        border-radius: 50%;
        &:hover{
            cursor: pointer;
            transform: translateY(-2px);
        }
    }
}

//Settings
.settings{
    position: fixed;
    img{
        display: flex;
        justify-content: center;
        align-items: center;
        animation: rotating 3.6s linear infinite;
        @keyframes rotating {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }     
    top: 30%;
    background-color: rgb(61, 62, 66);
    padding: 15px 15px;
    border-top-right-radius:  5px;
    border-bottom-right-radius: 5px;
}


/*----------Section 1----------*/

.sec1{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 969px;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        display: flex;
        margin-top: 35px;
        margin-left:  10%;
        font-size: 35px;
        color: ghostwhite;
        font-weight:900;
    }
    ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        color: ghostwhite;
        padding-top: 50px;
    }
    li{
        padding: 0 20px;
        font-weight:600;
        font-size: 1.25em;
        a{
            color: ghostwhite;
            text-decoration: none;
        }
    }
    .social-link{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-content: end;
        margin-top: 35px;
        padding-right: 10%;
        height: 25px;
        width: 25px;
    }
    .page-one-content{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 150px;
        .right-img{
            max-width: 800px;
            min-width: 400px;
            margin-right: 150px;
            padding-bottom: 100px;
            width: 100%;
            height: auto;
        }
        .left-content{
            max-width: 650px;
            min-width: 325px;
            width: 100%;
            width: 650px;
            padding-left: 70px;
            h2{
                font-size: 70px;
                font-weight: 900;
                word-spacing: -5px;
                line-height: 60px;
            }
            p{
                font-size: 23px;
                padding: 40px 0;
                line-height: 30px;
            }
            .form{
                display: flex;
                flex-direction: row;
            }
            .input-email{
                max-width: 500px;
                min-width: 250px;
                width: 100%;
                width: 500px;
                height: 60px;
                border-radius: 30px;
                border: none;
                padding-left: 20px;
                font-size: large;
            }
            .input-sub{
                font-size: large;
                padding: 5px;
                border-radius: 30px;
                margin-top: 5px;
                margin-left: -155px;
                height: 50px;
                width: 150px;
                background:#1294b8;
                color: white;
                border: 0;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(29, 112, 184);
                }
            }
        }
    }
}

/*----------Section 2----------*/

.sec2{
    padding-top: 150px;
    background-color: ghostwhite;
    height: 969px;
    .cases{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 500px;
        padding-top: 250px;
        
    }
    h3{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
        margin-bottom: 20px;
    }
    p{
        display: flex;
        justify-content: center;
        text-align: center;
        color: rgba(128, 128, 128, 0.5);
        line-height: 25px;
        font-size: 25px;
    }
    .case{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: ghostwhite;
        height: 500px;
        width: 500px;
        border-radius: 10px;
        background: radial-gradient(rgb(139, 195, 245), #1294b8);
        margin: 0 10px;
        box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 10px;
        &:hover{
            cursor: pointer;
            transform:translateY(-5px);
            box-shadow: rgba(0, 0, 0, 0.60) 0px 5px 10px;
        }
        img{
            width: 4em;
            padding-bottom: 2em;
        }
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
        }
        p{
            color: ghostwhite;
            padding: 0 25px;
            font-size: 1.30em;
        }
    }
}

/*----------Section 3----------*/

.sec3{
    padding-top: 150px;
    background-color: rgb(240, 240, 240);
    height: 969px;
    .page-3-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
            margin-bottom: 20px;
        }
        p{
            display: flex;
            justify-content: center;
            text-align: center;
            color: gray;
            max-width: 700px;
            line-height: 25px;
            font-size: 25px;
        }
    }
}

/*----------Section 4----------*/

.sec4{
    background-color: ghostwhite;
    height: 969px;
    .upper-team-page{
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-bottom: 150px;
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 900px;
            font-size: 45px;
            margin-bottom: 20px;
        }
        p{
            display: flex;
            justify-content: center;
            text-align: center;
            color: rgba(128, 128, 128, 0.5);
            max-width: 900px;
            line-height: 25px;
            font-size: 25px;
        }
    }
    .lower-team-page{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .adjust-content{
            margin-bottom: 100px;
            h6{
                font-size: 25px;
            }
        }
        figure{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 50px;
            text-align: center;
        }
        .overflow{
            max-height: 250px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 20px;
        }
        img{
            width: 100%;
            max-width: 250px;
            min-width: 150px;
            border-radius: 50%;
            margin-bottom: 20px;
            filter: grayscale(1);
            transition: all 0.5s ease-in-out;
            &:hover{
                cursor: pointer;
                filter: none;
                transform: scale(1.1);  
            }
            figcaption{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
        h5{
            font-size: 20px;
            font-weight: 600;
        }
        p{
            color: rgb(150, 150, 150);
            font-size: 15px;
        }
    }    
}

/*----------Section 5----------*/

.parallax {
    /* The image used */
    background-image: url("/img/parallax.png");
    /* Full height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-color{
    background-color: rgba(0, 0, 0, 0.507);
    height: 100%;
}

.sec5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    .parallax-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: ghostwhite;
        height: 600px;
        h5{
            font-size: 35px;
            padding-bottom: 30px;
        }
        p{
            color: rgba(248, 248, 255, 0.801);
            max-width: 1050px;
            font-size: large;
        }
        button{
            width: 150px;
            height: 50px;
            margin-top: 40px;
            border-radius: 5px;
            border: ghostwhite solid 1px;
            background:none;
            color: ghostwhite;
            box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 10px;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: ghostwhite;
                transform: translateY(-3px);
                color: black;
                box-shadow: rgba(0, 0, 0, 0.70) 0px 5px 10px;
            }

        }
    }
}
    /*----------Section 6----------*/

.sec6{
    padding-top: 150px;
    background-color: rgb(240, 240, 240);
    height: 969px;
    .upper-6-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h3{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
        margin-bottom: 20px;
    }
    p{
        display: flex;
        justify-content: center;
        text-align: center;
        color: rgba(128, 128, 128, 0.5);
        line-height: 25px;
        font-size: 25px;
        max-width: 750px;
        line-height: 40px;
    }
    .images{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
        padding: 150px 10%;
        figure{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 25px;
        }
        img{
            width: 70%;
            justify-content: center;
            opacity: 50%;
            transition: all .3s ease-in-out;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                opacity: 100%;
            }
        }
    }
}

/*----------Section 7----------*/

    .sec7{
        background-color: ghostwhite;
        height: 969px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 200px;
        .left-content-sec7{
            h3{
                display: flex;
                justify-content: start;
                align-items: start;
                font-size: 30px;
                padding-bottom: 50px;

            }
            p{
                display: flex;
                justify-content: start;
                text-align: left;
                color: rgba(128, 128, 128, 0.5);
                line-height: 30px;
                font-size: 20px;
                max-width: 570px;
            }
            .stats{
                display: flex;
                flex-direction: row;
                justify-content: start;
                margin-top: 50px;
                .stat-1{
                    margin-right: 40px;
                }
                h4{
                    font-size: 30px;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 20px;
                }
            }
            button{
                margin-top: 50px;
                width: 150px;
                height: 50px;
                margin-top: 40px;
                border-radius: 5px;
                border: none;
                background:rgb(50, 50, 255);
                color: rgb(255, 255, 255);
                box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 10px;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: ghostwhite;
                    border: rgb(50, 50, 255) solid 1px;
                    transform: translateY(-3px);
                    color: black;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
                }
            }
        }
        .right-content-sec7{
            img{
                width: 80%;
            }
        }
}

/*----------Section 8----------*/

.sec8{
    background-color: rgb(240, 240, 240);
    height: 969px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 100px;
    .upper-price-page{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-bottom: 80px;
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 900px;
            font-size: 45px;
            margin-bottom: 20px;
        }
        p{
            display: flex;
            justify-content: center;
            text-align: center;
            color: rgba(128, 128, 128, 0.5);
            max-width: 700px;
            line-height: 25px;
            font-size: 25px;
        }
    }
    .lower-price-page{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        
        .price-case{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            color: black;
            height: 580px;
            width: 430px;
            border-radius: 10px;
            background: ghostwhite;
            margin: 0 15px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
            &:hover{
                cursor: pointer;
                transform:translateY(-5px);
                box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 10px;
            }
            p{
                display: flex;
                flex-direction: row;
                align-items: end;
                font-weight: 600;
                color: rgba(128, 128, 128, 0.603);
                margin-top: 20px;
                span{
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    font-weight: 300;
                    color: rgb(70, 70, 255);
                }
                .monnaie{
                    height: 80%;
                    font-size: large;
                }
                .price{
                    font-size: 70px;
                }
            }
            h5{
                margin-top: 40px;
                font-size: large;
            }
            .price-content{
                display: flex;
                flex-direction: raw;
                justify-content: space-between;
                align-items: start;
                width: 100%;
                padding-top: 50px;
                .right-cont{
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    margin-right: 20px;
                }
                p{  
                    font-size: large;
                    font-weight: 500;
                    color: black;
                }
                img{

                    width: 20px;
                    margin: 0 20px;
                }
            }
            button{
                width: 250px;
                height: 50px;
                font-size: larger;
                margin-top: 50px;
                border-radius: 5px;
                border: rgb(70, 70, 255) solid 1px;
                background:none;
                color: rgb(70, 70, 255);
                box-shadow: rgba(0, 0, 0, 0.20) 0px 2px 15px;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: rgb(70, 70, 255);
                    transform: translateY(-3px);
                    color: ghostwhite;
                    box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px;
                }
            }
        }
        .case2{
            margin-bottom: 50px;
            box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 10px;
            .up {
                position: relative;
                width: 100%;
                display: inline;
                align-items: center;
                h5 {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .float-right {
                  position: absolute; 
                  top: 0; 
                  right: 0; 
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 60px;
                  width: 60px;
                  border-bottom-left-radius: 15px;
                  border-top-right-radius: 10px;
                  text-align: center;
                  color: ghostwhite;
                  background:rgb(80, 80, 255);
                  box-shadow: rgba(0, 0, 0, 0.30) 0px 1px 10px;
                }
            }
            button{
                width: 250px;
                height: 50px;
                margin-top: 50px;
                border-radius: 5px;
                border:none;
                background-color:rgb(70, 70, 255);
                color: ghostwhite;
                box-shadow: rgba(0, 0, 0, 0.40) 0px 2px 15px;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: ghostwhite;  
                    border: rgb(70, 70, 255) solid 1px;
                    transform: translateY(-3px);
                    color: rgb(70, 70, 255);
                    box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px;
                }
            }
        }
    }
}

/*----------Section 9----------*/

.sec9{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 100px;
    background-color: ghostwhite;
    height: 969px;
    .upper-blog{
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
            margin-bottom: 20px;
        }
        p{
            display: flex;
            justify-content: center;
            text-align: center;
            color: rgba(128, 128, 128, 0.5);
            max-width: 700px;
            line-height: 25px;
            font-size: 25px;
        }
    }
    .lower-blog{
        .blogs{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;  
            .blog{
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                max-width: 400px;
                margin: 150px 30px;
                img{
                    width: 400px;
                    border-radius: 10px;
                    &:hover{
                        
                    }
                }
                h5{
                    font-size: 22px;
                    margin: 20px 0;
                }
                p{  
                    font-size: large;
                    color: rgba(128, 128, 128, 0.5);
                    margin-bottom: 20px;
                }  
                a{
                    font-size: large;
                    color: rgb(70, 70, 255);
                    font-weight: bolder;
                    text-decoration: none;
                }
            }
        }
    }
}


/*----------Footer----------*/

footer{
    height: 300px;
    background-color: rgb(61, 62, 66);
    .reseaux{
        display: flex;
        justify-content: center;
        padding-top: 70px;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            margin: 0 15px;
            border-radius: 50%;
            border: rgba(255, 255, 255, 0.5) solid 2px;

        }
        img{
            width: 20px;
            height: 20px;
            opacity: 50%;
        }
    }
    .middle-lign{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-size: 25px;
        a{
            color: rgba(248, 248, 255, 0.5);
            text-decoration: none;
        }
        span{
            margin: 0 30px;
            color: rgba(248, 248, 255, 0.5);
        }
    }
    small{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        color: rgba(248, 248, 255, 0.5);
    }
}