* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sec1 {
  background: radial-gradient(rgb(139, 195, 245), #1294b8);
  height: 969px;
}
.sec1 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sec1 .logo {
  display: flex;
  margin-top: 25px;
  margin-left: 10%;
  font-size: 35px;
  color: ghostwhite;
  font-weight: 900;
}
.sec1 ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: ghostwhite;
  padding-top: 50px;
}
.sec1 li {
  padding: 0 20px;
  font-weight: 600;
}
.sec1 .social-link {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: end;
  margin-top: 35px;
  padding-right: 10%;
  height: 25px;
  width: 25px;
}
.sec1 .page-one-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
}
.sec1 .page-one-content .right-img {
  max-width: 800px;
  min-width: 400px;
  margin-right: 150px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
}
.sec1 .page-one-content .left-content {
  max-width: 650px;
  min-width: 325px;
  width: 100%;
  width: 650px;
  padding-left: 70px;
}
.sec1 .page-one-content .left-content h2 {
  font-size: 70px;
  font-weight: 900;
  word-spacing: -5px;
  line-height: 60px;
}
.sec1 .page-one-content .left-content p {
  font-size: 23px;
  padding: 40px 0;
  line-height: 30px;
}
.sec1 .page-one-content .left-content .form {
  display: flex;
  flex-direction: row;
}
.sec1 .page-one-content .left-content .input-email {
  max-width: 500px;
  min-width: 250px;
  width: 100%;
  width: 500px;
  height: 60px;
  border-radius: 30px;
  border: none;
  padding-left: 20px;
  font-size: large;
}
.sec1 .page-one-content .left-content .input-sub {
  font-size: large;
  padding: 5px;
  border-radius: 30px;
  margin-top: 5px;
  margin-left: -155px;
  height: 50px;
  width: 150px;
  background: #1294b8;
  color: white;
  border: 0;
}

/*----------Section 2----------*/
.sec2 {
  padding-top: 150px;
  background-color: ghostwhite;
  height: 969px;
}
.sec2 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-bottom: 20px;
}
.sec2 p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: gray;
  line-height: 25px;
  font-size: larger;
}
.sec2 .cases {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding-top: 250px;
}
.sec2 .case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: ghostwhite;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  background: radial-gradient(rgb(139, 195, 245), #1294b8);
  margin: 0 10px;
}
.sec2 .case img {
  width: 4em;
  padding-bottom: 2em;
}
.sec2 .case h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.sec2 .case p {
  color: ghostwhite;
  padding: 0 25px;
  font-size: 1.3em;
}

/*----------Section 3----------*//*# sourceMappingURL=styles.css.map */