* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(170, 170, 170); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(84, 84, 84); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/*----------conrolls----------*/
.go-up {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
}
.go-up a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-up img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border-radius: 50%;
}
.go-up img:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.settings {
  position: fixed;
  top: 30%;
  background-color: rgb(61, 62, 66);
  padding: 15px 15px;
  border-radius: 0 5px 5px 0;
}
.settings img {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotating 3.6s linear infinite;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*----------Section 1----------*/
i.fa.fa-bars {
  display: none;
}

.sec1 {
  background: radial-gradient(rgb(139, 195, 245), #1294b8);
  height: 969px;
}
.sec1 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sec1 .logo {
  display: flex;
  margin-top: 35px;
  margin-left: 10%;
  font-size: 35px;
  color: ghostwhite;
  font-weight: 900;
}
.sec1 ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: ghostwhite;
  padding-top: 50px;
}
.sec1 li {
  padding: 0 20px;
  font-weight: 600;
  font-size: 1.25em;
}
.sec1 li a {
  color: ghostwhite;
  text-decoration: none;
}
.sec1 .social-link {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: end;
  margin-top: 35px;
  padding-right: 10%;
  height: 25px;
  width: 25px;
}
.sec1 .page-one-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
}
.sec1 .page-one-content .right-img {
  max-width: 800px;
  min-width: 400px;
  margin-right: 150px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
}
.sec1 .page-one-content .left-content {
  max-width: 650px;
  min-width: 325px;
  width: 100%;
  width: 650px;
  padding-left: 70px;
}
.sec1 .page-one-content .left-content h2 {
  font-size: 70px;
  font-weight: 900;
  word-spacing: -5px;
  line-height: 60px;
}
.sec1 .page-one-content .left-content p {
  font-size: 23px;
  padding: 40px 0;
  line-height: 30px;
}
.sec1 .page-one-content .left-content .form {
  display: flex;
  flex-direction: row;
}
.sec1 .page-one-content .left-content .input-email {
  max-width: 500px;
  min-width: 300px;
  width: 100%;
  width: 500px;
  height: 60px;
  border-radius: 30px;
  border: none;
  padding-left: 20px;
  font-size: large;
}
.sec1 .page-one-content .left-content .input-sub {
  font-size: large;
  padding: 5px;
  border-radius: 30px;
  margin-top: 5px;
  margin-left: -155px;
  height: 50px;
  min-width: 150px;
  width: 150px;
  background: #1294b8;
  color: white;
  border: 0;
}
.sec1 .page-one-content .left-content .input-sub:hover {
  cursor: pointer;
  background-color: rgb(29, 112, 184);
}

/*----------Section 2----------*/
.sec2 {
  padding-top: 150px;
  background-color: ghostwhite;
  height: 969px;
}
.sec2 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  margin-bottom: 20px;
  text-align: center;
}
.sec2 p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(128, 128, 128, 0.5);
  line-height: 25px;
  font-size: 25px;
  padding: 25px;
}
.sec2 .cases {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding-top: 250px;
}
.sec2 .case {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: ghostwhite;
  height: 500px;
  max-width: 500px;
  min-width: 250px;
  border-radius: 10px;
  background: radial-gradient(rgb(139, 195, 245), #1294b8);
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}
.sec2 .case:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 10px;
}
.sec2 .case img {
  width: 4em;
  padding-bottom: 2em;
}
.sec2 .case h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
}
.sec2 .case p {
  color: ghostwhite;
  padding: 0 25px;
  font-size: 1.3em;
}

/*----------Section 3----------*/
.sec3 {
  padding-top: 150px;
  background-color: rgb(240, 240, 240);
  height: 969px;
  padding: 100px 25px;
}
.sec3 .page-3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
.sec3 .page-3-content h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  margin-bottom: 20px;
}
.sec3 .page-3-content p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: gray;
  max-width: 700px;
  line-height: 25px;
  font-size: 25px;
}

/*----------Section 4----------*/
.sec4 {
  background-color: ghostwhite;
  height: 969px;
}
.sec4 .upper-team-page {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 150px;
  padding: 25px 25px;
}
.sec4 .upper-team-page h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 900px;
  font-size: 45px;
  margin-bottom: 20px;
  padding: 0 25px;
}
.sec4 .upper-team-page p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(128, 128, 128, 0.5);
  max-width: 900px;
  line-height: 25px;
  font-size: 25px;
  padding: 0 25px;
}
.sec4 .lower-team-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sec4 .lower-team-page .adjust-content {
  margin-bottom: 100px;
}
.sec4 .lower-team-page .adjust-content h6 {
  font-size: 25px;
}
.sec4 .lower-team-page figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  text-align: center;
}
.sec4 .lower-team-page figure .overflow {
  position: relative;
  max-height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
}
.sec4 .lower-team-page figure .overflow:hover img {
  filter: none;
  transform: scale(1.1);
}
.sec4 .lower-team-page figure .overflow img {
  width: 250px;
  max-width: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
}
.sec4 .lower-team-page figure .overflow .icons {
  position: absolute;
  left: 10px;
  opacity: 0;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.sec4 .lower-team-page figure .overflow .icons .icon {
  display: flex;
  width: 35px;
  margin-bottom: 10px;
}
.sec4 .lower-team-page figure .overflow .icons .icon:hover {
  transform: scale(1.2);
}
.sec4 .lower-team-page figure .overflow:hover .icons {
  opacity: 1;
  transform: translate(50%, 50%);
}
.sec4 .lower-team-page figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec4 h5 {
  font-size: 20px;
  font-weight: 600;
}
.sec4 p {
  color: rgb(150, 150, 150);
  font-size: 15px;
}

/*----------Section 5----------*/
.parallax {
  /* The image used */
  background-image: url("/img/parallax.png");
  /* Full height */
  height: 100%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-color {
  background-color: rgba(0, 0, 0, 0.507);
  height: 100%;
}

.sec5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
}
.sec5 .parallax-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: ghostwhite;
  height: 600px;
}
.sec5 .parallax-content h5 {
  font-size: 35px;
  padding-bottom: 30px;
}
.sec5 .parallax-content p {
  color: rgba(248, 248, 255, 0.801);
  max-width: 1050px;
  font-size: large;
  padding: 25px;
}
.sec5 .parallax-content button {
  width: 150px;
  height: 50px;
  margin-top: 40px;
  border-radius: 5px;
  border: ghostwhite solid 1px;
  background: none;
  color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
  transition: all 0.3s ease-in-out;
}
.sec5 .parallax-content button:hover {
  background-color: ghostwhite;
  transform: translateY(-3px);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 10px;
}

/*----------Section 6----------*/
.sec6 {
  padding-top: 150px;
  background-color: rgb(240, 240, 240);
  height: 969px;
}
.sec6 .upper-6-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec6 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 25px;
}
.sec6 p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(128, 128, 128, 0.5);
  line-height: 25px;
  font-size: 25px;
  max-width: 750px;
  line-height: 40px;
  padding: 0 25px;
}
.sec6 .images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 150px 10%;
}
.sec6 .images figure {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
.sec6 .images img {
  width: 10em;
  justify-content: center;
  opacity: 50%;
  transition: all 0.3s ease-in-out;
}
.sec6 .images img:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 100%;
}

/*----------Section 7----------*/
.sec7 {
  background-color: ghostwhite;
  height: 969px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 200px;
}
.sec7 .left-content-sec7 h3 {
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 30px;
  padding-bottom: 50px;
}
.sec7 .left-content-sec7 p {
  display: flex;
  justify-content: start;
  text-align: left;
  color: rgba(128, 128, 128, 0.5);
  line-height: 30px;
  font-size: 20px;
  max-width: 570px;
}
.sec7 .left-content-sec7 .stats {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 50px;
}
.sec7 .left-content-sec7 .stats .stat-1 {
  margin-right: 40px;
}
.sec7 .left-content-sec7 .stats h4 {
  font-size: 30px;
  margin-bottom: 5px;
}
.sec7 .left-content-sec7 .stats p {
  font-size: 20px;
}
.sec7 .left-content-sec7 button {
  margin-top: 50px;
  width: 150px;
  height: 50px;
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  background: rgb(50, 50, 255);
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  transition: all 0.3s ease-in-out;
}
.sec7 .left-content-sec7 button:hover {
  background-color: ghostwhite;
  border: rgb(50, 50, 255) solid 1px;
  transform: translateY(-3px);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
.sec7 .right-content-sec7 img {
  width: 80%;
}

/*----------Section 8----------*/
.sec8 {
  background-color: rgb(240, 240, 240);
  height: 969px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 100px;
}
.sec8 .upper-price-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 80px;
}
.sec8 .upper-price-page h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 900px;
  font-size: 45px;
  margin-bottom: 20px;
}
.sec8 .upper-price-page p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(128, 128, 128, 0.5);
  max-width: 700px;
  line-height: 25px;
  font-size: 25px;
}
.sec8 .lower-price-page {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.sec8 .lower-price-page .price-case {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: black;
  height: 580px;
  max-width: 430px;
  min-width: 300px;
  border-radius: 10px;
  background: ghostwhite;
  margin: 0 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
}
.sec8 .lower-price-page .price-case:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}
.sec8 .lower-price-page .price-case p {
  display: flex;
  flex-direction: row;
  align-items: end;
  font-weight: 600;
  color: rgba(128, 128, 128, 0.603);
  margin-top: 20px;
}
.sec8 .lower-price-page .price-case p span {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-weight: 300;
  color: rgb(70, 70, 255);
}
.sec8 .lower-price-page .price-case p .monnaie {
  height: 80%;
  font-size: large;
}
.sec8 .lower-price-page .price-case p .price {
  font-size: 70px;
}
.sec8 .lower-price-page .price-case h5 {
  margin-top: 40px;
  font-size: large;
}
.sec8 .lower-price-page .price-case .price-content {
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding-top: 50px;
}
.sec8 .lower-price-page .price-case .price-content .right-cont {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 20px;
}
.sec8 .lower-price-page .price-case .price-content p {
  font-size: large;
  font-weight: 500;
  color: black;
}
.sec8 .lower-price-page .price-case .price-content img {
  width: 20px;
  margin: 0 20px;
}
.sec8 .lower-price-page .price-case button {
  width: 250px;
  height: 50px;
  font-size: larger;
  margin-top: 50px;
  border-radius: 5px;
  border: rgb(70, 70, 255) solid 1px;
  background: none;
  color: rgb(70, 70, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px;
  transition: all 0.3s ease-in-out;
}
.sec8 .lower-price-page .price-case button:hover {
  background-color: rgb(70, 70, 255);
  transform: translateY(-3px);
  color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}
.sec8 .lower-price-page .case2 {
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
}
.sec8 .lower-price-page .case2 .up {
  position: relative;
  width: 100%;
  display: inline;
  align-items: center;
}
.sec8 .lower-price-page .case2 .up h5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec8 .lower-price-page .case2 .up .float-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 10px;
  text-align: center;
  color: ghostwhite;
  background: rgb(80, 80, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 10px;
}
.sec8 .lower-price-page .case2 button {
  width: 250px;
  height: 50px;
  margin-top: 50px;
  border-radius: 5px;
  border: none;
  background-color: rgb(70, 70, 255);
  color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px;
  transition: all 0.3s ease-in-out;
}
.sec8 .lower-price-page .case2 button:hover {
  background-color: ghostwhite;
  border: rgb(70, 70, 255) solid 1px;
  transform: translateY(-3px);
  color: rgb(70, 70, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}

/*----------Section 9----------*/
.sec9 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 100px;
  background-color: ghostwhite;
  height: 969px;
}
.sec9 .upper-blog h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  margin-bottom: 20px;
}
.sec9 .upper-blog p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(128, 128, 128, 0.5);
  max-width: 700px;
  line-height: 25px;
  font-size: 25px;
  padding: 0 25px;
}
.sec9 .lower-blog .blogs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sec9 .lower-blog .blogs .blog {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 400px;
  margin: 150px 30px;
}
.sec9 .lower-blog .blogs .blog figcaption {
  position: absolute;
  margin-left: 30px;
  opacity: 0;
  transform: translateY(-250px);
}
.sec9 .lower-blog .blogs .blog figcaption img {
  margin-right: 10px;
  width: 20px;
  color: white;
}
.sec9 .lower-blog .blogs .blog figcaption p {
  color: ghostwhite;
}
.sec9 .lower-blog .blogs .blog figcaption h5 {
  margin: 0;
  margin-bottom: 10px;
  color: ghostwhite;
}
.sec9 .lower-blog .blogs .blog:hover figcaption {
  transition: all 0.5s ease-in-out;
  opacity: 100%;
}
.sec9 .lower-blog .blogs .blog img {
  width: 400px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.sec9 .lower-blog .blogs .blog:hover .blog-img {
  filter: brightness(50%);
}
.sec9 .lower-blog .blogs .blog h5 {
  font-size: 22px;
  margin: 20px 0;
}
.sec9 .lower-blog .blogs .blog p {
  font-size: large;
  color: rgba(128, 128, 128, 0.5);
  margin-bottom: 20px;
}
.sec9 .lower-blog .blogs .blog a {
  font-size: large;
  color: rgb(70, 70, 255);
  font-weight: bolder;
  text-decoration: none;
}

/*----------Footer----------*/
footer {
  height: 300px;
  background-color: rgb(61, 62, 66);
}
footer .reseaux {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
footer .reseaux a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 15px;
  border-radius: 50%;
  border: rgba(255, 255, 255, 0.5) solid 2px;
}
footer .reseaux a:hover {
  filter: invert(50%);
}
footer .reseaux img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 50%;
}
footer .reseaux .video {
  position: absolute;
  transform: translateY(55px);
}
footer .reseaux .video video {
  transform: rotate(90);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(-1.2);
  filter: saturate(200%) blur(2px);
  z-index: 1;
}
footer .reseaux .video button {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: rgb(255, 255, 255) solid 2px;
  overflow: hidden;
  opacity: 0;
}
footer .reseaux .video button:hover {
  transform: translateY(-250px);
  width: 400px;
  height: 400px;
  opacity: 100%;
}
footer .middle-lign {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-size: 25px;
}
footer .middle-lign a {
  color: rgba(248, 248, 255, 0.5);
  text-decoration: none;
}
footer .middle-lign a:hover {
  filter: invert(50%);
}
footer .middle-lign span {
  margin: 0 30px;
  color: rgba(248, 248, 255, 0.5);
}
footer small {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: rgba(248, 248, 255, 0.5);
}

/***************RESPONSIVE***************/
@media only screen and (max-width: 700px) {
  i.fa.fa-bars {
    display: block;
  }
  /*----------Go-Up----------*/
  .go-up {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
  }
  .go-up a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .go-up img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    border-radius: 50%;
  }
  .go-up img:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }
  /*----------Settings----------*/
  .settings {
    display: none;
  }
  /*----------Section 1----------*/
  .sec1 nav #myLinks {
    z-index: 1;
    display: none;
    position: absolute;
    margin: 0;
    background-color: red;
    width: 100%;
    padding: 40px 0;
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px) brightness(60%);
            backdrop-filter: blur(10px) brightness(60%);
    border-radius: 0 0 10px 10px;
    border-bottom: rgba(0, 0, 0, 0.5) solid 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 30px 3px;
  }
  .sec1 nav #myLinks li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    text-decoration: underline;
    line-height: 50px;
    color: rgba(248, 248, 255, 0.503);
  }
  .sec1 nav .icon {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    padding-right: 5%;
    color: ghostwhite;
    font-size: 2em;
    text-decoration: none;
  }
  .sec1 nav .social-link {
    display: none;
  }
  .sec1 nav .social-link a {
    display: none;
  }
  .sec1 .page-one-content .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
  }
  .sec1 .page-one-content .left-content .form {
    width: 100%;
  }
  .sec1 .page-one-content .left-content .form .input-email {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
  .sec1 .page-one-content .left-content h2 {
    text-align: center;
  }
  .sec1 .page-one-content img {
    display: none;
  }
  /*----------Section 2----------*/
  .sec2 {
    height: -moz-max-content;
    height: max-content;
  }
  .sec2 p {
    text-align: center;
  }
  .sec2 .cases {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 50px 20px;
    justify-content: start;
  }
  .sec2 .cases .case {
    margin: 25px 0;
    min-width: 95%;
  }
  /*----------Section 3----------*/
  .sec3 {
    height: -moz-max-content;
    height: max-content;
  }
  .sec3 h3 {
    text-align: center;
  }
  /*----------Section 4----------*/
  .sec4 {
    height: -moz-max-content;
    height: max-content;
  }
  .sec4 .upper-team-page {
    margin-bottom: 25px;
  }
  .sec4 .upper-team-page h3 {
    font-size: 35px;
  }
  .sec4 .lower-team-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 50px;
  }
  /*----------Section 5----------*/
  .sec5 button {
    max-width: 90%;
    min-width: 90%;
  }
  /*----------Section 6----------*/
  .sec6 {
    height: -moz-max-content;
    height: max-content;
  }
  .sec6 .images {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 50px 0;
  }
  .sec6 .images img {
    margin: 25px 0;
  }
  /*----------Section 7----------*/
  .sec7 {
    padding: 50px;
    height: -moz-max-content;
    height: max-content;
  }
  .sec7 .left-content-sec7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .sec7 .left-content-sec7 p {
    text-align: center;
  }
  .sec7 .left-content-sec7 button {
    max-width: 90%;
    min-width: 90%;
  }
  .sec7 .right-content-sec7 {
    display: none;
  }
  /*----------Section 8----------*/
  .sec8 {
    height: -moz-max-content;
    height: max-content;
  }
  .sec8 .upper-price-page {
    min-width: 250px;
    width: 100%;
    padding: 0 25px;
  }
  .sec8 .lower-price-page {
    margin: 50px 0;
    flex-direction: column;
  }
  .sec8 .lower-price-page .case2 {
    margin: 50px 0;
  }
  /*----------Section 9----------*/
  .sec9 {
    height: -moz-max-content;
    height: max-content;
  }
  .sec9 .lower-blog .blogs {
    flex-direction: column;
    padding: 50px 0;
  }
  .sec9 .lower-blog .blogs .blog {
    transform: scale(0.85);
    margin: 0;
  }
  /*----------Footer----------*/
  footer {
    padding: 25px;
    height: -moz-max-content;
    height: max-content;
  }
  footer .reseaux {
    padding: 20px 0;
  }
  footer .middle-lign {
    margin-top: 10px;
    font-size: smaller;
  }
  footer .middle-lign span {
    margin: 0 5%;
  }
  footer .video {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */